---
import { SITE_TITLE } from '../consts'
import HeaderLink from './HeaderLink.astro'
---

<header class='px-16 fixed bg-black w-full z-10'>
  <nav class='flex items-center py-4 border-b border-neutral-700'>
    <h2 class='leading-none m-0 flex'>
      <a href='/' class='text-3xl'>{SITE_TITLE}</a>
    </h2>
    <div class='flex-1 justify-evenly flex items-center text-sm uppercase'>
      <HeaderLink href='/'>Início</HeaderLink>
      <HeaderLink href='/'>Cases</HeaderLink>
      <HeaderLink href='/blog'>Clientes</HeaderLink>
      <HeaderLink href='/about'>Serviços</HeaderLink>
    </div>
    <div class='flex gap-4'>
      <a
        href='https://m.webtoo.ls/@astro'
        target='_blank'
        class='text-sm uppercase border border-neutral-700 px-3 py-1'
      >
        Solicitar Orçamento
      </a>
    </div>
  </nav>
</header>
